*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    font-family: arial;
    font-size: large;
    margin: 0;
    background-image: linear-gradient(orange, white, green);
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    align-items: center;
    justify-content:center;
}

.but{
    background-image: linear-gradient(rgb(47, 0, 255), rgb(248, 243, 243), rgb(68, 3, 248),  rgb(248, 243, 243), rgb(68, 3, 248));
    border: none;
    height: 90vh;
    width: 90vh;
    border-radius: 50%;
    display: inline-block;
}

.but1{
    background-image:linear-gradient(rgb(248, 243, 243), rgb(68, 3, 248),  rgb(248, 243, 243));
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 221px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content:center;
    height: 50vh;
    width: 50vh;
    border-radius: 50%;
    margin-inline: auto;
    margin-top: 140px;
}

button:hover{
    background-image: linear-gradient(rgb(47, 0, 255), rgb(248, 243, 243), orange, white, green, rgb(68, 3, 248),  rgb(248, 243, 243),orange, white, green, rgb(68, 3, 248));
    font-size: 251px;
}

@media(max-width: 761px){
    body{
        height: 100vh;
    }
    .but{

        height: 80vh;
        width: 80vh;
    }
    
    .but1{
        font-size: 121px;
        height: 40vh;
        width: 40vh;
        margin-inline: auto;
        margin-top: 121px;
    }
    
    button:hover{
        font-size: 151px;
    }
}

@media(max-width: 513px){
    body{
        height: 100vh;
    }
    .but{
        height: 70vh;
        width: 70vh;
    }
    
    .but1{
        font-size: 91px;
        height: 30vh;
        width: 30vh;
        margin-inline: auto;
        margin-top: 115px;
    }
    
    button:hover{
        font-size: 101px;
    }
}

@media(max-width: 414px){
    body{
        height: 100vh;
    }
    .but{

        height: 50vh;
        width: 50vh;
    }
    
    .but1{
        font-size: 81px;
        height: 20vh;
        width: 20vh;
        margin-inline: auto;
        margin-top: 85px;
    }
    
    button:hover{
        font-size: 91px;
    }
}

@media(max-width: 317px){
    body{
        height: 100vh;
    }

    .but{
        height: 40vh;
        width: 40vh;
    }
    
    .but1{
        font-size: 51px;
        height: 20vh;
        width: 20vh;
        margin-inline: auto;
        margin-top: 57px;
    }
    
    button:hover{
        font-size: 61px;
    }
}
